<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808141670120-3ptpg1j2s9n5dvdak44gnskvpbjudnbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808141670120-3ptpg1j2s9n5dvdak44gnskvpbjudnbd</string>
	<key>API_KEY</key>
	<string>AIzaSyDwapjbaYMkCqKS0XeZYD4kfIQ2J8PJ0Y8</string>
	<key>GCM_SENDER_ID</key>
	<string>808141670120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cargocontrol</string>
	<key>PROJECT_ID</key>
	<string>cargocontrol-d5ef8</string>
	<key>STORAGE_BUCKET</key>
	<string>cargocontrol-d5ef8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808141670120:ios:80327f943b1cce41b12b5d</string>
</dict>
</plist>